<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="¿Quiénes somos?" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/quienessomos">
    <ion-nav-view name="tab-quienessomos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Procedimientos" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/procedimientos">
    <ion-nav-view name="tab-procedimientos"></ion-nav-view>
  </ion-tab>
  <ion-tab title="¿Soy candidato?" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/soycandidato">
    <ion-nav-view name="tab-soycandidato"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!--ion-tab title="Contacto" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/procedimientodetail">
    <ion-nav-view name="tab-procedimientodetail"></ion-nav-view>
  </ion-tab-->


</ion-tabs>
