<ion-view view-title="Procedimientos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="procedimiento in procedimientos" type="item-text-wrap" href="#/tab/procedimientodetail/{{procedimiento.id}}">
        <!--img ng-src="{{chat.face}}" -->
        <h2>{{procedimiento.titulo}}</h2>
        <p>{{procedimiento.descripcion}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
