<ion-view view-title="Procedimientos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="procedimiento in procedimientos" type="item-text-wrap" href="#/tab/procedimientos/{{procedimiento.id}}">
        <!--img ng-src="{{chat.face}}" -->
        <h2>{{procedimiento.titulo}}</h2>
        <p>{{procedimiento.descripcion}}</p>
        <p><img image-lazy-src="{{procedimiento.urlVideoImg}}" image-lazy-loader="android"/></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
